@font-face {
  font-family: 'Raleway', sans-serif;
  font-display: auto;
  src: url(https://fonts.googleapis.com/css?family=Raleway:400,700);
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.newcat {
  background: #1675d1;
  border-radius: 2rem;
  -webkit-box-shadow: 0rem .1rem .3rem grey;
          box-shadow: 0rem .1rem .3rem grey;
  color: #ffffff;
  margin: auto;
  margin-top: .5rem;
  padding-bottom: .2rem;
  padding-top: .2rem;
  text-decoration: none;
  width: 12rem;
}

.newcat:hover {
  background: #62a3ff;
  -webkit-box-shadow: 0rem 0rem 0rem white;
          box-shadow: 0rem 0rem 0rem white;
}

.newcat:focus {
  background: #62a3ff;
  -webkit-box-shadow: 0rem 0rem 0rem white;
          box-shadow: 0rem 0rem 0rem white;
}

.categorynamewrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
}

.categoryname {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #1675d1;
  -webkit-box-shadow: 0rem .1rem .3rem grey;
          box-shadow: 0rem .1rem .3rem grey;
  border-radius: 1.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #ffffff;
  font-size: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 80%;
}

.categoryname:hover {
  background: #62a3ff;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.categoryname:focus {
  background: #62a3ff;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.categorybuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.editcat {
  background: #2bbeba;
  border-top-right-radius: 1.5rem;
  -webkit-box-shadow: 0rem .1rem .3rem grey;
          box-shadow: 0rem .1rem .3rem grey;
  color: #000000;
  font-size: 1.6rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 6rem;
}

.editcat:hover {
  background: #70dfdc;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.editcat:focus {
  background: #70dfdc;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.delcat {
  background: #ce0000;
  border-bottom-right-radius: 1.5rem;
  -webkit-box-shadow: 0rem .1rem .3rem grey;
          box-shadow: 0rem .1rem .3rem grey;
  color: #000000;
  font-size: 1.6rem;
  padding-top: .38rem;
  padding-bottom: .3rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 6rem;
}

.delcat:hover {
  background: #ff1b1b;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.delcat:focus {
  background: #ff1b1b;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #1675d1;
  -webkit-box-shadow: 0rem .1rem .3rem grey;
          box-shadow: 0rem .1rem .3rem grey;
  border-radius: 1.5rem;
  color: #ffffff;
  font-size: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 80%;
}

.item:hover {
  background: #62a3ff;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

.item:focus {
  background: #62a3ff;
  -webkit-box-shadow: 0rem 0rem 0rem;
          box-shadow: 0rem 0rem 0rem;
}

@media only screen and (max-width: 599px) {
  .category {
    border-radius: 1rem;
    -webkit-box-shadow: 0rem .1rem .3rem grey;
            box-shadow: 0rem .1rem .3rem grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 90%;
  }
  .items {
    border-radius: 1rem;
    -webkit-box-shadow: 0rem .1rem .3rem grey;
            box-shadow: 0rem .1rem .3rem grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .bodflexwrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .category {
    border-radius: 1rem;
    -webkit-box-shadow: 0rem .1rem .3rem grey;
            box-shadow: 0rem .1rem .3rem grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 40%;
  }
  .cathead {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .items {
    border-radius: 1rem;
    -webkit-box-shadow: 0rem .1rem .3rem grey;
            box-shadow: 0rem .1rem .3rem grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    width: 40%;
  }
  .itemhead {
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .category {
    width: 49rem;
  }
  .items {
    width: 49rem;
  }
}
/*# sourceMappingURL=catalog.css.map */