<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/navbar.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" >
    <title>Document</title>
</head>
<body>
    <div>


       <div class="navbar">
            <a class="appname" >Category-App-Example</a>

            <div class="navuser" >
                <img class="navuserimage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Kbm-lKrPe_H2uB9Qo6prYkjJDoDAemj-WUNDONHUT7SDqnr3" >
                <div class="navuseridwrapper" >
                        <p id="navuserid" >Logged in<br /> as <br />ch4nc3l0</p>
                </div>
                <object class="caretdown" type="image/svg+xml" data="../static/imgs/caret.svg"></object>
            </div>
            <object class="menu" type="image/svg+xml" data="../static/imgs/menu.svg"></object>

            <form id="loginbuttform" method="POST">
                    <input id="loginbutt" name="login" type="submit" value="Login">
            </form>
       </div> 


            <form method="POST">
                <input id="logoutbutt" name="logout" type="submit" value="Logout">
            </form>

        <div>
            <h1>Categories:</h1>
            <a id="newcat" href="{{ url_for('addCategory') }}" >New Category</a>
        </br>

            {% for category in categories %}
               <a href="{{ url_for('categories', category_name=category.name) }}"> {{category.name}} </a>
                <a id="editcat" href="{{ url_for('updateCategories', category_name=category.name, category=category) }}" >Edit Category</a>
                <a id="delcat" href="{{ url_for('deleteCategories', category_name=category.name, category=category) }}" >Delete Category</a>
                
            {% endfor %}
        </div>

        <div>
            <h1>Items:</h1>
            {% for item in items %}
                <a href="{{ url_for('items', category_id=item.category_id, item_name=item.name) }}" >{{item.name}}</a>
            {% endfor %}
        </div>
    </div>





<!-- --Developer Login REMOVE IN PRODUCTION-- --Developer Login REMOVE IN PRODUCTION-- -->
    <form method="POST">
            <input name="dev" type="submit" value="Dev Login">
    </form>
<!-- --Developer Login REMOVE IN PRODUCTION-- --Developer Login REMOVE IN PRODUCTION-- -->




    <!-- Script cannot be moved due to depending on python variables -->
    <script type="text/javascript">
    let user = '{{user}}';
    let categories = '{{categories.name}}'
    if (user != ''){
            document.getElementById('loginbutt').style.display = 'none';
            document.getElementById('loginbuttform').style.display = 'none';
            document.getElementById('logoutbutt').style.display = '';
            document.getElementById('newcat').style.display = '';
            document.getElementById('navuserid').style.display = '';
            if(categories != ''){
                document.getElementById('editcat').style.display = '';
                document.getElementById('delcat').style.display = '';
            }
        }
        else{
            document.getElementById('logoutbutt').style.display = 'none';
            document.getElementById('loginbutt').style.display = '';
            document.getElementById('loginbuttform').style.display = '';
            document.getElementById('newcat').style.display = 'none';
            document.getElementById('navuserid').style.display = 'none';
            if(categories != ''){
                document.getElementById('editcat').style.display = 'none';
                document.getElementById('delcat').style.display = 'none';
            }
        }
    </script>

</body>
</html>