<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form method="POST">
                <p class='' >Login to Catagory App</p>

                <input class="" name='github' type='submit' value='Login with Github'>
                <input class='' name='redirect' type='submit' value="Nope I Don't wanna login">
           
        </form>
        
   
</body>
</html>